@tailwind base;
@tailwind components;
@tailwind utilities;

html[data-theme="dark"] img.icon {
    filter: invert(1);
}

.milkdown .editor p {
    margin: 0;
}

.milkdown .editor li {
    margin: 0;
}

.milkdown .editor hr {
    margin: 2em;
}

